{% extends "base.html" %}
{% block title %}Страница входа {% endblock %}

{% block content %}
   <h1 class="display-8 text-primary">Войти в систему</h1>
   <!--mx-auto для горизонтального выравнивания блока содержимого-->
   <div class='row mx-auto'>
       <!--подстройка по размеру экрана; используем 3 колонки из 12-ти возможных-->
       <div class="col-md-6 text-primary">
           <form action="" method="post"> {% csrf_token %}
         <!--Данный метод реализует форму как строки(прочитать об API-формах) Формирует форму в качестве парагрфа
         as_p для того, чтобы каждый элемент формы был с новой строки-->
              {{form.as_p}}
<!--              <input type="submit" value="Войти">-->
               <button class="btn btn-primary" type="submit" style="background-image: linear-gradient(to bottom right, #007bff 0%, #343a40 100%);">Войти</button>
           </form>
       </div>

   </div>


{% endblock %}